/* Fonts goole*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*,::after,::before {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1,p,ul {
    margin: 0;
}
ul{
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
.l-header {
    width: 100%;
    height: 50px;
    margin-bottom: 100px;
    background-color: rgba(79, 0, 180, 1);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.nav__logo {
    color: white;
    text-transform: uppercase;
    font-size: 24px;
}
.nav__link {
    color: white;
    font-size: 18px;
}
.nav__toggle,.menu__close {
    font-size: 25px;
}
.nav__toggle, .menu__close {
    display: none;
}
@media screen and (max-width: 768px) {
    .nav__toggle, .menu__close {
        display: block;
    }
    .nav__menu {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        height: 100%;
        top: 0;
        right: -100%;
        background-color: rgba(255, 255, 255, .3);
        backdrop-filter: blur(10px);
        transition: .3s;
    }
    .nav__link {
        color: rgb(44, 44, 44);
    }
    .menu__close {
        position: absolute;
        top: 5px;
        right: 29px;
    }
    .show-scroll {
        position: fixed;
        box-shadow: 0 2px 4px rgba(0,0,0,.1);
    }
}
@media screen and (min-width: 769px) {
    .nav__list {
        display: flex;
    }
    .nav__item {
        margin: 0 25px;
    }
}

.show {
    right: 0;
}
.l-main {
    max-width: 900px;
    padding: 0 50px;
    margin: auto;
}
.l-main p {
    margin-top: 50px;
}
.nav__scrollTop {
    font-size: 50px;
    color: rgba(79, 0, 180, 1);
    position: fixed;
    bottom: -100%;
    right: 30px;
    cursor: pointer;
}
.button-show {
    bottom: 0;
    transition: .3s;
}
